.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
.env

*.tar.gz

node_modules/
vendor/
logs/*

assets/css/**
assets/js/**
assets/third-party/**
assets/icons/**

!assets/css/
!assets/js/
!assets/images/
!assets/icons/

!assets/js/header-comment.js
!web/assets/js/icons-import.js
!assets/js/sample-es2015-scripts.js
