//
// Site Layout - Layout overrides & unique styles
// --------------------------------------------------


// Header
// ---------------------------------------
// .global-header {}



// Logo
// ---------------------------------------
@global-logo-width: 			5rem;
@global-logo-desktop-width: 			7rem;
@global-desktop-logo-vertical-padding: 	1rem;

.global-logo {
	width: 5rem;
	@media (min-width: @desktop-styles-min) {
		width: 7rem;
	}
}



// Navigation
// ---------------------------------------



// Search Reveal Button
// ---------------------------------------
@search-reveal-button-right: 			@hamburger-button-width;



// Footer
// ---------------------------------------
// .global-footer {
// 	padding-top: 0;

// 	.footer-body {
// 		padding: 1em 0;

// 		background-color: #EFEFEF;
// 	}

// 	.footer-bottom {
// 		padding: 1em 0;

// 		color: #555;
// 	}
// }
