//
// Site Variables
// --------------------------------------------------


// Paths
// ---------------------------------------
@site-path: 							"/content/themes/birdpress-theme";
@perch-dir: 							"/assets/third-party/perch";



// Typography
// ---------------------------------------
// @global-text-color: 					#494949;



// Site Colors
// ---------------------------------------
@birdpress-color-pink: 					#D8214E;
@birdpress-color-purple: 				#726399;

@site-color-primary: 					@birdpress-color-pink;
@site-color-secondary: 					@birdpress-color-purple;



// Header / Nav / Logo / Footer
// ---------------------------------------
@header-body-height: 					60px;
@header-body-desktop-height: 			80px;

@global-main-nav-desktop-margin: 		0 @search-reveal-button-width 0 0;

// @navbar-height: 	60px;
@navbar-desktop-height: 				80px;

@global-logo-top: 						5px;
@global-logo-width: 					50px;

@global-logo-desktop-top: 				10px;
@global-logo-desktop-width: 			60px;

@footer-bg-color: 						#DDD;
@extended-footer-bg-color: 				#DDD;
