.main-navigation {
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    display: none;

    li {

        a {
            border-radius: 5px;
            padding: 0.5rem 1rem;
            transition: background-color 150ms;
            font-family: @font-family-sans;
        }
    }

    li:hover a,
    li:focus a {
        background-color: @site-color-gray-light;
        color: @site-color-purple;
    }

    li a:focus-within { // Declared separately so no issues in IE
        background-color: @site-color-gray-light;
        color: @site-color-purple;
    }
}

.main-menu {
    padding: 0;
    margin-bottom: 0;

    li {
        display: inline-block;
    }

    a {
        padding: 0.5rem 1rem;
        color: @site-color-gray-dark;
        text-decoration: none;
        font-weight: 500;
    }

    & > li.current-menu-item,
    & > li.current-menu-parent {
        position: relative;
        z-index: 2;

        &::after {
            content: url('src/images/brush-underline-teal.svg');
            position: absolute;
            bottom: -0.125rem;
            width: 100%;
            left: 0;
            height: 20px;
            z-index: -1;
        }
    }
}

.home {

    .main-menu {

        & > li.current-menu-item,
        & > li.current-menu-parent {

            &::after {
                content: url('src/images/brush-underline-purple.svg');
            }
        }
    }
}


@media (min-width: 1140px) {

    .main-navigation {
        display: block;
    }
}
