body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
  color: @site-color-purple;
  text-decoration: none;
}

input,
textarea,
select {
    border-radius: 5px;
    border: 1px solid @site-color-gray-medium;
    padding: 0.5rem;
}

input[type="submit"] {
    background-color: @site-color-purple;
    color: @site-color-white;
    border-color: @site-color-purple;
}