//
// Site Global Variables (Or Theme Styles)
// --------------------------------------------------

@site-max-width: 1920px;
@site-medium-width: 1440px;
@site-small-width: 980px;
@content-container-side-padding: 5%;
@content-container-top-and-bottom-padding: 5rem;
@text-max-width: 700px;

// Families
// --------------------------
@font-family-serif: 		"Georgia", "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-sans: 			"Poppins", Freesans, Helmet, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-family-base:       @font-family-sans;
@font-family-alternate:   @font-family-serif;
@font-family-script: "Satisfy", cursive, @font-family-serif;

@font-size-base:       18px;
@font-weight-base:       normal;
@line-height-base:       1.5;

@common-border-radius:     20px;


// Colors
@site-color-teal-dark: #346B76;
@site-color-teal: #5D929D;
@site-color-teal-light: #B1CDD3;

@site-color-purple: #6E5D9D;
@site-color-purple-light: #9384BE;
@site-color-salmon: #AD6F72;
@site-color-salmon-light: #CF999C;

@site-color-gray-dark: #323E40;
@site-color-gray-medium: #7C8081;
@site-color-gray: #cbd1d5;
@site-color-gray-light: #F7F8F9;

@site-color-black: #0B1F22;
@site-color-white: #fff;