//
// Site Layout - Layout overrides & unique styles
// --------------------------------------------------


// Header
// ---------------------------------------



// Navigation
// ---------------------------------------


// Main / Main Content
// ---------------------------------------
.global-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  min-height: 100vh;
}
.global-main {
  flex: 1 1 auto;
}

.post-content-wrapper {
  max-width: @site-max-width;
  margin: 0 auto;
}

.main-content-row {
  padding: @content-container-top-and-bottom-padding @content-container-side-padding;
}

.text-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.page-banner {
  img {
    width: 100%;
    max-width: 1920px;
    height: 30vmax;
    max-height: 400px;
    min-height: 200px;
    margin: 0 auto;
    object-fit: cover;
    display: block;
  }
}

.no-sidebar {
  .main-content-row {
    max-width: auto;
  }
}

.main-content-row {
  max-width: 1400px;
  margin: 0 auto;
}

.sidebar-content-column {
  padding-top: 2.5rem;
  flex-shrink: 0;
  max-width: 700px;
  margin: 0 auto;
  h2 {
    font-weight: 400;
    font-size: 1.5em;
    position: relative;
    padding-bottom: 15px;
    &::after {
      content: '';
      height: 2px;
      position: absolute;
      width: 100px;
      bottom: 0;
      left: 0;
    }
  }
  h3 {
    background-color: @site-color-gray-light;
    padding: 15px;
    margin-bottom: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    margin-top: 10px;
    a {
      color: @site-color-black-lighter;
      text-decoration: none;
      padding: 5px 0;
      line-height: 1.3;
    }
    .post-count,
    .post-date {
      margin-left: auto;
      font-style: italic;
      color: @site-color-gray-dark;
      padding: 5px 0;
      font-size: 0.875em;
    }
  }

  @media (min-width: 980px) {
    max-width: 100%;
    width: 440px;
    margin: 0 auto;
  }
}

.page-intro {
  max-width: 700px;
  margin: 0 auto;
  @media (min-width: 980px) {
    margin: 0;
  }
}

@media (min-width: 980px) {
  .main-content-row {
    display: flex;
    display: -webkit-flex;
  }
  .sidebar-content-column {
    padding: 0 0 0 2.5rem;
    margin-left: auto;
  }
}


// Footer
// ---------------------------------------
