//
// Site Global Variables (Or Theme Styles)
// --------------------------------------------------

@site-max-width: 1440px;
@desktop-styles-min: 980px;
@content-container-side-padding: 5%;
@content-container-top-and-bottom-padding: 5rem;

// Families
// --------------------------
@font-family-serif: 		"Georgia", "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-sans: 			"Lato", Freesans, Helmet, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-family-base:       @font-family-sans;
@font-family-alternate:   @font-family-serif;

@font-size-base:       16px;
@font-weight-base:       normal;
@line-height-base:       1.5;

@common-border-radius:     5px;


// Colors
@site-color-blue-dark: #323F4B;
@site-color-blue: #486581;
@site-color-blue-light: #4D89C4;
@site-color-gray-dark: #7B8189;
@site-color-gray: #A5A9AF;
@site-color-gray-light: #E4E7EB;
@site-color-black: #212932;
@site-color-black-lighter: #666;
@site-color-cream: #E8E6E1;
@site-color-cream-light: #FAF9F7;
@site-color-white: #fff;