@import "_site-global-variables";

.testimonial-blockquote {
  background-color: @site-color-gray-light;
  margin: 2.5rem;
  padding: 2.5rem;
  .testimonial-message {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: bold;
  }
}