/* Styles used for the Skeletor demo page only */

body {
	background-color: #f3f3f3;
}
.demo-block {
	margin: 0 0 20px;
	padding: 20px;
	background-color: #fff;
}
.demo-block > h2 {
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

body.home .global-main {
	padding-top: 0;
}

.skeletor-demo-header code {
	margin-bottom: 1em;
}

#skeletor-mega-logo {
	display: block;
	position: relative;
	z-index: 3;
	padding-bottom: .15em;
	margin: auto;
	line-height: 1;
	text-align: center;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 170px;
	font-size: 17vw;
	font-weight: 900;
	text-decoration: none !important;
	text-transform: uppercase;
	color: #fceb72;
	text-shadow:
		0 1px 0 #9b8b8e,
		0 2px 0 #948590,
		0 2px 0 #8d7e91,
		0 3px 0 #867793,
		0 4px 0 #7f7095,
		0 5px 0 #796a97,
		0 6px 0 #726399,
		0 7px 0 #6f6194,
		0 8px 0 #6c5e8f,
		0 9px 0 #695c8a,
		0 10px 0 #665a85,
		0 11px 0 #625780,
		0 12px 0 #60557b,
		0 13px 0 #5c5376,
		0 0 10px #000;
	-webkit-transform: perspective(600px) rotateX(23deg);
	   -moz-transform: perspective(600px) rotateX(23deg);
	    -ms-transform: perspective(600px) rotateX(23deg);
	        transform: perspective(600px) rotateX(23deg);
}
	@media screen and (min-width: 960px) {
		#skeletor-mega-logo {
			font-size: 170px;
		}
	}
#skeletor-mega-logo:hover {
	background-color: rgba(255,255,255, 0.1);
}
/* Animate in the Skeletor logo... */
@-webkit-keyframes skeletor-logo-in {
	0%   { opacity: 0; -webkit-transform: translateY(50px); }
	100% { opacity: 1; -webkit-transform: translateY(0) perspective(600px) rotateX(23deg); }
}
@keyframes skeletor-logo-in {
	0%   { opacity: 0; transform: translateY(50px); }
	100% { opacity: 1; transform: translateY(0) perspective(600px) rotateX(23deg); }
}
/* ...only if browser supports css animations. */
.mod-cssanimations #skeletor-mega-logo {
	opacity: 0;

	-webkit-animation: skeletor-logo-in 1.5s ease-out 0.75s forwards;
	animation: skeletor-logo-in 1.5s ease-out 0.75s forwards;
}

.skeletor-demo-logo {
	position: relative;
	margin-bottom: 1em;
	background-color: #2f3231;
}
	/* the lightning .gif, as an after element so to reduce its opacity */
	.skeletor-demo-logo:after {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		opacity: .80;
		background-image: url("../images/skeletor-demo/lightning.gif");
		background-position: 50% 57%;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.skeletor-demo-logo .container {
		padding-bottom: 1px;
	}

/* Animate out the Lightning after load */
@-webkit-keyframes lightning-fade { 100% { opacity: 0; } }
@keyframes lightning-fade { 100% { opacity: 0; } }
.skeletor-demo-logo:after {
	-webkit-animation: lightning-fade 2.5s ease-out 1.5s forwards;
	animation: lightning-fade 2.5s ease-out 1.5s forwards;
}


/* Animate a blur on the full page */
/*@-webkit-keyframes pageload-unblur {
	0%   { -webkit-filter: blur(100px); }
	100% { -webkit-filter: blur(0); }
}
@keyframes pageload-unblur {
	0%   { -webkit-filter: blur(100px); filter: blur(100px); }
	100% { -webkit-filter: blur(0); filter: blur(0); }
}
body {
	-webkit-filter: blur(100px);
	-webkit-animation: pageload-unblur 0.75s ease-out .5s forwards;
	animation:         pageload-unblur 0.75s ease-out .5s forwards;
}*/
