.entry-content .alignwide {
  max-width: 980px;
  width: 100%;
  // Allow for relative positioning
  position: relative;
  // Relative to its container width, it is pushed 50% to the left
  left: 50%;
  // Relative to its own width (100vw), it is pulled back 50% to the left
  transform: translate(-50%);

  @media (min-width: 680px) {
    width: 100vw;
  }
}
.entry-content .alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
  margin-top: 2.5rem;
}

.has-blue-dark-background-color {
  background-color: @site-color-blue-dark;
}

.has-blue-background-color {
  background-color: @site-color-blue;
}

.has-blue-light-background-color {
  background-color: @site-color-blue-light;
}

.has-gray-dark-background-color {
  background-color: @site-color-gray-dark;
}

.has-gray-background-color {
  background-color: @site-color-gray;
}

.has-gray-light-background-color {
  background-color: @site-color-gray-light;
}

.has-black-background-color {
  background-color: @site-color-black;
}

.has-black-lighter-background-color {
  background-color: @site-color-black-lighter;
}

.has-white-background-color {
  background-color: @site-color-white;
}