.alignwide {
    width: 100%;
}

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;

    &[class*='bg-']:not(.bg-white) {
        padding: 5rem 5%;
    }
}

.wp-block-group {

    .wp-block-group__inner-container {
        max-width: @site-medium-width;
        margin-left: auto;
        margin-right: auto;

        .alignfull {
            width: 100%;
            max-width: @site-max-width;
        }
    }
}

.has-background {

    h2 {
        margin-top: 0;
    }

    .wp-block-media-text {
        margin-top: 0;
    }
}

.has-blue-dark-background-color {
    background-color: @site-color-blue-dark;
}

.has-blue-background-color {
    background-color: @site-color-blue;
}

.has-blue-light-background-color {
    background-color: @site-color-blue-light;
}

.has-gray-dark-background-color {
    background-color: @site-color-gray-dark;
}

.has-gray-background-color {
    background-color: @site-color-gray;
}

.has-gray-light-background-color {
    background-color: @site-color-gray-light;
}

.has-black-background-color {
    background-color: @site-color-black;
}

.has-black-lighter-background-color {
    background-color: @site-color-black-lighter;
}

.has-white-background-color {
    background-color: @site-color-white;
}

.has-blue-dark-color {
    color: @site-color-blue-dark;
}

.has-blue-color {
    color: @site-color-blue;
}

.has-blue-light-color {
    color: @site-color-blue-light;
}

.has-gray-dark-color {
    color: @site-color-gray-dark;
}

.has-gray-color {
    color: @site-color-gray;
}

.has-gray-light-color {
    color: @site-color-gray-light;
}

.has-black-color {
    color: @site-color-black;
}

.has-black-lighter-color {
    color: @site-color-black-lighter;
}

.has-white-color {
    color: @site-color-white;
}