.main-content-row:not(.post-list) .entry-content > :last-child:not(.alignfull),
.main-content-row:not(.post-list) .entry-content > :last-child.alignfull.bg-white {
  padding-bottom: 5rem;
  margin-bottom: 0;
}

.alignfull:not(.bg-white) + :not(.alignfull),
.alignfull:not(.bg-white) + .alignfull.bg-white {
  margin-top: 5rem;
}

.alignfull + .alignfull {
  margin-top: 0;
}

*:not(.alignfull) + .alignfull:not(.bg-white) {
  margin-top: 5rem;
}

.wp-block-group.alignfull.has-background {
  padding: 5rem 5%;
}